<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nodoubts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.nodoubts.NoDoubts"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.nodoubts.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.user.RegisterUserActivity"
            android:label="@string/title_activity_register_user" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.profile.ProfessorProfileActivity"
            android:label="@string/title_activity_teacher_profile" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.profile.StudentProfileActivity"
            android:label="@string/title_activity_student_profile" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.profile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nodoubts.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.subject.RegisterSubjectActivity"
            android:label="@string/title_activity_register_subject" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.search.SearchProfessorActivity"
            android:label="@string/title_activity_search_professor" >
        </activity>
        <activity android:name="com.nodoubts.ui.subject.SubjectListActivity" >
        </activity>
        <activity android:name="com.nodoubts.ui.search.SearchActivity" >
        </activity>
        <activity android:name="com.nodoubts.ui.subject.SubjectActivity" >
        </activity>
        <activity android:name="com.nodoubts.ui.user.ViewProfessorActivity" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.rating.RegisterGroupLectureActivity"
            android:label="@string/title_activity_register_group_lecture" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.rating.RatingActivity"
            android:label="@string/title_activity_rating" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.lecture.UserLectureListActivity"
            android:label="@string/title_activity_user_lecture_list" >
        </activity>
        <activity
            android:name="com.nodoubts.GroupLectureActivity"
            android:label="@string/title_activity_group_lecture" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.lecture.ScheduleLectureActivity">
        </activity>
        <activity
            android:name="com.nodoubts.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
