<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nodoubts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NoDoubts"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomThemeNAB" >
        </activity>
        <activity
            android:name=".ui.user.RegisterUserActivity"
            android:label="@string/title_activity_register_user"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.profile.ProfessorProfileActivity"
            android:label="@string/title_activity_teacher_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.profile.StudentProfileActivity"
            android:label="@string/title_activity_student_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.subject.RegisterSubjectActivity"
            android:label="@string/title_activity_register_subject"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.search.SearchProfessorActivity"
            android:label="@string/title_activity_search_professor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.subject.SubjectListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.subject.SubjectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.user.ViewProfessorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nodoubts.ui.grouplecture.RegisterGroupLectureActivity"
            android:label="@string/title_activity_register_group_lecture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.rating.RatingActivity"
            android:label="@string/title_activity_rating"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.lecture.UserLectureListActivity"
            android:label="@string/title_activity_user_lecture_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.grouplecture.GroupLectureActivity"
            android:label="@string/title_activity_group_lecture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.lecture.ScheduleLectureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.profile.UserProfile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomThemeNAB" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLecturesTabsActivity"
            android:label="@string/title_activity_user_lectures_tabs"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewScheduledLectureActivity"
            android:label="@string/title_activity_view_scheduled_lecture"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.recommendation.RecommendationListActivity"></activity>
        <activity android:name=".ui.recommendation.RegisterRecommendationActivity"></activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
    </application>

</manifest>